<h2>Recipes</h2>
<form class="" action="/sort_by_tag" method="get">
  <label for="tag">Select a tag</label>
  <select class="" name="tag">
    <% @tags.each do |tag| %>
      <option value="<%= tag.id %>"><%= tag.title %></option>
      <% end %>
  </select>
  <button type="submit" name="select_tag">Sort</button>
</form>
<div class="row">
  <table class="col-md-6">
    <tr>

      <td>Recipe</td>
      <td>Rating</td>
      <td>Edit</td>
    </tr>
    <% @recipes.each do |recipe| %>

      <tr>
        <td><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></td>
        <td><%= recipe.rating %></td>
        <td><a href="/edit_recipe/<%= recipe.id %>"><button type="button" name="edit">Edit</button></a></td>
      </tr>
    <% end %>
  </table>
</div>
